

body {
	line-height: 1;
}
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* close commented backslash hack*/ 


/*------GLOBAL------*/
html {
	width: 100%;
	height: 100%;
}
* {
	padding: 0;
	margin: 0;
	outline: 0 none;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Lobster Two', cursive;*/
	font-weight: 300;
	color: #6d6e71;
	line-height: 24px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #507cbe;
	text-decoration: none;
}
.saction3 {
	padding: 50px 0 50px;
	position: relative;
}
.ordaring h2 {
	text-align: center;
	font-family: 'Lobster Two', cursive;
	color: #515151;
	font-size: 35px;
	font-weight: 700;
}
.ordaring p {
	text-align: center;
	margin-top: 15px;
	color: #e24425;
	font-size: 30px;
}
.arrow, .arrow1 {
	position: absolute;
	top: 52%;
	right: -38px;
}
.step img {
	text-align: center;
	display: block;
	margin: 50px auto;
}
.step1 img {
	text-align: center;
	display: block;
	margin: 50px auto;
}
.dotted {
	border: 1px dashed #000;
	width: 35%;
}
.dotted1 {
	border: 1px dashed #515151;
	width: 27%;
	display: inline-block;
	top: 90%;
	position: absolute;
	right: 12%;
}
.dotted {
	border: 1px dashed #515151;
	width: 27%;
	display: inline-block;
	top: 90%;
	position: absolute;
	left: 12%;
}
